* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(117, 5, 182);
  color: white;
  margin: 20px 20px 90px 20px;
}

a {
  color: yellow;
  font-weight: 700;
  padding-left: 20px;
}

.codebox {
  border: 1px solid #000;
  width: 50%;
  background-color: rgb(0, 0, 0);
  white-space: pre-line;
  padding: 10px;
  font-size: 14px;
  display: inline-block;
  color: lime;
}

.codebox span {
  color: rgb(255, 0, 0);
}

.console {
  border: 1px solid #000;
  background-color: rgb(37, 37, 37);
  white-space: pre-line;
  width: 50%;
  padding: 10px;
  font-size: 14px;
  display: inline-block;
  color: rgb(255, 255, 255);
}

.console span {
  color: rgb(251, 255, 0);
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
}

.jscontainer h2 {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-decoration: underline;
}

.string {
  display: flex;
  flex-direction: row;
}

.length {
  display: flex;
  flex-direction: row;
}

.ref {
  margin: 20px;
}

ol {
  padding: 30px 0 0 30px;
}
